@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,300..800&display=swap");
@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  padding: 20px 40px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
